@import '../../styles/sass/abstracts/mixins.scss';
@import '../../styles/sass/abstracts/vars.scss';

.wrapper {
    padding: 60px 15px 0 15px;
    @media screen and (min-width: 576px) {
        padding: 60px 35px 0 35px;
    }
    @media screen and (min-width: 768px) {
        padding: 60px 50px 50px 50px;
        border-top: 0.5px solid #C7C7C7;
        border-bottom: 0.5px solid #C7C7C7;
    }
    @media screen and (min-width: 1280px) {
        padding: 35px 0 50px 0;
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
    }
    .creator {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        &::before {
            content: "";
            width: 31px;
            height: 27px;
            position: absolute;
            background-image: url(../../assets/image/aboutLike.svg);
            top: 0%;
            right: 15%;
            transform: translate(55%, -22%);

        }
        @media screen and (min-width: 1280px) {
            order: 2;
            flex-basis: 49%;
            justify-content: flex-start;
        }
        img {
        }
        .name {
            margin: 23px 0 7px 0;
            @include fontStyle(18px, 400, 22px, $textColor);
        }
        span {
            @include fontStyle(14px, 400, 21px, $textColor);
        }
        .link {
            @include fontStyle(14px, 400, 21px, $linkColor);
            text-align: center;
            max-width: 210px;
            margin: 7px 0 25px 0;
        }
    }
    .description {
        @media screen and (min-width: 1280px) {
            flex-basis: 51%;
        }
        .aboutMe {
            margin-bottom: 30px;
        }
    }
}

.title {
    @include fontStyle(18px, 400, 26px, $textColor);
    margin-bottom: 15px;
}
.text {
    @include fontStyle(16px, 400, 25px, $textColor);
    margin-bottom: 22px;
}
.linkReadMore {
    @include fontStyle(16px, 400, 23px, $linkColor);
}