@import '../../styles/sass/abstracts/mixins.scss';
@import '../../styles/sass/abstracts/vars.scss';
.container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 20px;
    border-bottom: 0.5px solid #C7C7C7;
    padding-bottom: 35px;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
        max-width: 610px;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: minmax(270px, auto) 1fr;
    }

    .info {
        display: flex;

        .avatar {
            margin-right: 20px;
            width: 84px;
            height: 84px;

        }

        .boxAbout {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            .name {
                @include fontStyle(16px, 400, 19px, $textColor);
            }

            .profession {
                @include fontStyle(14px, 400, 21px, $textColor);
                margin: 11px 0;
            }

            .rate {}
        }
    }

    .inner {
        display: flex;
        align-items: center;
        @media screen and (min-width: 768px) {
            align-self: flex-end;
        }
        img {}

        .innerText {
            @include fontStyle(14px, 400, 21px, $textColorLight);
        }
    }

    .wrapper {
        @media screen and (min-width: 768px) {
            grid-area: 2/1/3/3;
            padding-left: 100px;
        }
        .text {
            @include fontStyle(14px, 400, 21px, $textColor);
            margin-bottom: 25px;
            max-width: 510px;

        }

        .date {
            @include fontStyle(14px, 400, 21px, $textColorLight);
        }
    }
}